@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5740a1;
}

.conteiner{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteiner .titulo{
    color: #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
}

.conteiner .conteudo{
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 7px 5px #0003;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.conteudo .selects{
    display: flex;
    gap: 5px;
}

.selects select{
    width: 50%;
    cursor: pointer;
    background-color: hsla(0, 0%, 100%, 0.6);
    border-color: #ddd;
    border-radius: 5px;
    padding: 7px;
}

.conteiner .conteudo .textareas{
    display: flex;
    gap: 5px;
    border-radius: 5px;
}

.conteiner .conteudo .textareas textarea{
    border-color: #ddd;
    padding: 5px;
    width: 50%;
    border-radius: 5px;
    resize: none;
    outline: none;
}

.conteiner .conteudo button{
    padding: 10px;
    border: none;
    background-color: #5740a1;
    color: #FFF;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.conteiner .conteudo button:hover{
    opacity: .9;
    cursor: pointer;
}